<%-include ("partials/header.ejs")%>

<div class="container">
        <div class="container d-inline-flex mb-3">
            <form action="/edit" method="post">
                <input type="hidden" name="id" value="<%= result.id%>">
                <label for="titulo" class="form-label" >Titulo do livro </label><br>
                <p><%= result.titulo %></p>              
                <label for="autor" class="form-label" >Autor</label><br>
                <p><%= result.autor %></p>
                <label for="nota">Nota:</label>
                <select name="nota" id="">
                    <option value="0">0</option>

                    <option value="1">1</option>
                    
                    <option value="2">2</option>
                    
                    <option value="3">3</option>
                    
                    <option value="4">4</option>
                    
                    <option value="5">5</option>
                    
                    <option value="6">6</option>
                    
                    <option value="7">7</option>
                    
                    <option value="8">8</option>
                    
                    <option value="9">9</option>
                    
                    <option value="10">10</option>
                </select><br>
                <label for="corpo" class="form-label">Avaliação</label><br>
                <textarea name="corpo" id="" cols="50" rows="20" wrap="hard" resize="none" class="form-control"><%=result.avaliacao%></textarea><br>
                <input type="submit" value="Enviar Avaliação" class="btn btn-outline-primary"><br>
    
            </form>
    
        </div>


</div>


<%-include ("partials/footer.ejs")%>



